{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ],
        ["@babel/typescript"]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 3
            }
        ]
    ]
}